<!-- <header ng-include="'app/views/loginheader.html'"></header> -->




<!-- ///////////////////////////////////////// -->
<div ng-controller="loginController"  class="main_div">
	<section>

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<p class="navbar-brand" style="color: white" id="todo"> Angular APP</p>
				</div>
			</div>
		</nav>
	</section>
	
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-4">
					<h2 class="h2"> Login</h2>
					<br>
					<br>
					<div >
						<form style="background-color: #ffffff" name="loginForm" ng-submit="login(user,loginForm)" >
							<div class="form-group ">
								<label ></label>
								<input type="text" class="form-control" placeholder="Enter email" name="email" ng-model="user.email" id="exampleInputEmail1" aria-describedby="emailHelp" required>
							</div>
							<div class="form-group ">
								<label></label>
								<input type="text" class="form-control" placeholder="Enter password" ng-model="user.password_var" id="exampleInputPassword1" required>
							</div>

							<div class= "mError" ng-messages="loginForm.email.$error" >
								<span ng-message="validationError">password and email are incorrect</span>
							</div>

							<button type="submit" href ="" class="bt"  >Sign In</button>
						</form>
					</div>
				</div>
				<br>
				<br><br><br><br><br> 
				<div class="col-sm-4"></div>
			</div>
		</div>

		<div >
		<p class="pstyle"><label class="label_style" >dont have account ??</label>
			<a href = "" ng-click = "signUp()" class="href_forgot" > Create An Account</a> </p>	
		</div>	
	</section>
	


		<footer></footer>
	</div>
	